@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

  /* Move root styles that should change with theme to html and body */

  /* Add this to your index.css if still needed */
  html[data-theme="dark"] body {
    @apply bg-zinc-900;
  }

  html[data-theme="light"] body {
    @apply bg-white;
  }

  :root {
    @apply font-poppins leading-6 font-normal;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply text-slate-600 dark:text-slate-400 min-h-screen;
  }

  a {
    @apply font-medium decoration-inherit no-underline;
  }

  a:hover {
    @apply text-slate-900 dark:text-slate-800;
  }

  h1 {
    @apply text-amber-600 dark:text-amber-800 leading-tight;
  }

  button {
    @apply rounded-md border border-transparent py-2 px-4 text-lg font-medium 
           bg-amber-500 dark:bg-amber-900 
           text-amber-900 dark:text-amber-500 
           cursor-pointer transition-colors;
  }

  button:hover {
    @apply border-amber-700 dark:border-amber-600;
  }

  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}
