@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
  :root {
    @apply font-poppins leading-6 font-normal bg-emerald-950;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply text-slate-400;
  }

  a {
    @apply font-medium decoration-inherit no-underline;
  }

  a:hover {
    @apply text-slate-800;
  }

  h1 {
    @apply text-amber-800 leading-tight;
  }

  button {
    @apply rounded-md border border-transparent py-2 px-4 text-lg font-medium bg-amber-900 text-amber-500 cursor-pointer transition-colors;
  }

  button:hover {
    @apply border-amber-600;
  }

  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  @media (prefers-color-scheme: light) {
    :root {
      @apply text-neutral-500;
    }
    a:hover {
      color: #747bff; /* Custom color */
    }
    button {
      @apply bg-amber-500;
    }
  }
}
